  .input-width{
    width: 30rem;
  }
  .Edit{
    background-image: url('icons/edit.png');
    width: 24px;
    height: 24px;
  }
  .Delete{
    width: 24px;
    height: 24px;
    background-image: url('icons/delete.png');
  }
  .Checked{
    width: 24px;
    height: 24px;
    background-image: url('icons/checked.png');
  }
  .Checked:hover{
    cursor: pointer
  }
  .Edit:hover{
    cursor: pointer;
  }
  .Delete:hover{
    cursor: pointer;
  }